.breadcrumb .breadcrumb-item {
    float: right;
}

.breadcrumb {
    margin-top: -10px;
    margin-bottom: 0;
    padding: 2px 20px;
    background-color: transparent;
    font-size: 90%;
    float: right;
}

.jumbotron {
    padding: 15px 15px;
}

