@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik Medium"), local("Rubik-Medium"), url("https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WA.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    src: local("Rubik Light"), local("Rubik-Light"), url("https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WA.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"), local("Rubik-Regular"), url("https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {

}

body {
    font-family: Rubik, sans-serif;
    color: #313131;
    font-weight: 300;
    font-size: 15px;
}

body:not(.bg-dark), .content-wrapper {
    background: #F1F2F7;
}

/** A **/
a:link:not(.btn), a:visited:not(.btn), a:not(.btn) {
    color: #1e9bfa;
}
a:hover {
    text-decoration: none;
}
a:hover:not(.btn) {
    color: #0069d9;
}

/** NAV **/
#mainTopNav.navbar-light  {
    background-color: #2CABE3;
}

#mainTopNav .navbar-brand {
    color: #FFF !important;
    font-weight: 300;
    font-size: 140%;
}

#sidebarNav > li, #sidebarNav > li a {
    position: relative;
    display: block;
}

#sidebarNav > li a {
    padding: 13px 10px;
    color: #c5c5c5;
}

#sidebarNav > li.active a {
    background-color: #F1F2F7;
    color: #313131;
    font-weight: 400;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #FF7676 !important;
    color: #FFF;
}

/** Layout **/
#wrapper {

}

#side-wrapper {
    background-color: #2F323E;
    padding-top: 6px;
    z-index: 1001;
    position: fixed;
    width: 240px;
    height: 100%;
    transition: .05s ease-in;
}

#content-wrapper {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 9px 14px -7px rgba(176,176,176,1);
    -moz-box-shadow: inset 0px 9px 14px -7px rgba(176,176,176,1);
    box-shadow: inset 0px 9px 14px -7px rgba(176,176,176,1);
    margin-top: 50px;
    padding-top: 10px;
    margin-left: 240px ;
    margin-bottom: 20px ;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}
