body, .content-wrapper {
    background: #f5f5f5;
    background: linear-gradient(160deg, #ffffff 0%, #f5f5f5 31%, #ededed 71%, #d4d4d4 100%);
}

/** A **/

a:link:not(.btn), a:visited:not(.btn), a:not(.btn) {
    color: #1e9bfa;
}
a:hover {
    text-decoration: none;
}
a:hover:not(.btn) {
    color: #0069d9;
}

/** NAV **/

#mainNav.bg-dark {
    background: rgba(42,38,34,1);
    background: linear-gradient(150deg, #343a40 0%, #5c6978 50%, #343a40 100%);
}

.breadcrumb .breadcrumb-item {
    float: right;
}

.breadcrumb {
    margin-top: -10px;
    margin-bottom: 5px;
    padding: 2px 20px;
    background-color: transparent;
    font-size: 90%;
    float: right;
}

.jumbotron {
    padding: 10px 8px;
    font-size: 80%;
    background-color: transparent;
    border:0;
    border-bottom:1px;
    color: #4d4d4d;
    border-radius: 0;
}
.jumbotron {
    background: rgba(235,235,235,0);
    background: linear-gradient(160deg, rgba(235,235,235,0) 0%, rgba(235,235,235,0.2) 20%, rgba(100,180,246,0.2) 65%, rgba(100,180,246,0.2) 66%, rgba(100,180,246,1) 84%, rgba(100,180,246,0.02) 94%);
}

.bot-left { position: relative; }
.bot-left:before, .bot-left:after { content: ""; position: absolute; bottom: -1px; left: -1px; }
.bot-left:after {
    right: -1px; height: 1px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#5c6978), to(transparent));
    background-image: -webkit-linear-gradient(left, #5c6978, transparent);
    background-image: -moz-linear-gradient(left, #5c6978, transparent);
    background-image: -o-linear-gradient(left, #5c6978, transparent);
    background-image: -o-linear-gradient(left, #5c6978, transparent);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #64b5f6;
    border-color: #64b5f6;
}

/** CARD **/
.card {
    background-color: #fdfdfd;
    border-radius: 1px;
}

.card-info {
    background-color: #64b5f6;
    border-color: #64b5f6;
    color:#FFF;
}
.card-info a, .card-info a:link, .card-info a:visited {
    color:#FFF;
}

/** TABLE **/
table thead tr:first-child th {
    border-top: 0;
}

/** BTN **/
.btn-primary {
    background-color: #64b5f6;
    border-color: #64b5f6;
}