.sp5,.sp6,.sp7,.sp8,.sp9,.sp10,.sp12,.sp15,.sp18,.sp20,.sp35,.sp30{}
.sp5 {height: 5px}
.sp6 {height: 6px}
.sp7 {height: 7px}
.sp8 {height: 8px}
.sp9 {height: 9px}
.sp10 {height: 10px}
.sp12 {height: 12px}
.sp15 {height: 15px}
.sp18 {height: 18px}
.sp20 {height: 20px}
.sp35 {height: 35px}
.sp30 {height: 30px}

.today {
    background-color: #FF7676 !important;
}
